#blog h4 {
	text-align: bottom;
	font-size: 19px;
}

#blog h3 {
	font-size: 28px;
	text-align: center;
	margin-top: 12.5px;
	margin: 1.8%;

}

#blog .contenedor {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	padding-left: 100px;
	position: center;
	top: 50%; 
	transform: translateX(-3.8%)


}

#blog article {
	margin-left: 25px;
}

#blog img {
	width: 100%;
	margin-top: 10px;
	max-width: 280px;
	height: 190px;
	width: 250px;
}