#sucur {
	background:#FFFFFF;
	color: #0500C0;
	text-align: center;
	padding: 35px;
}

#sucur .contenedor {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.sucur-sucursales {
	margin:35px;

}

.sucur-sucursales img {
	width: 480px;
	height: 330px;
	border-radius: 12%;
	border: 2.3px solid #0500C0;
}

@media (min-width: 480px){
	.sucur-sucursales {
		width: 120%;
	}
}

#sucur-sucursales article {
	margin: 30px;
}


.sucur-sucursales iframe {
	width: 480px;
	height: 330px;
	border-radius: 10%;
	border: 2.5px solid #0500C0; 
}

#sucur h3 {
	font-size: 18px;
	margin: 50px;
}

#sucur h4{
	font-size: 18px;
	position: left;
	margin-bottom: 1.2%;
}